<style type="text/css">
  body{ background-image:url("/assets/form_background.jpg"); background-repeat:no-repeat; background-position:center; background-size:fill; padding:10px;}
</style>
<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-control",:placeholder=>"Email" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off",:class=>"form-control",:placeholder=>"Password" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="forgot">
            <%= render "devise/shared/links" %>
          </div>
          <div class="actions">
            <%= f.submit "Log in" ,:class=>"btn btn-primary"%>
          </div>
        <% end %>
    </div>
  </div>
</div>
