<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--     <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>
      </ul>
    <% end %> -->
    <%= yield %>
  </body>
</html>
